#dashbord { 
    padding: 40px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .dashbord_content {
        background-color: #FFF;
        width: 40%;
        height: auto;
        padding: 30px 30px;
        .dashbord_content-container {

            border-bottom: 2px solid #BB6B64;
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            .currency {
                font-size: 22px;
                font-weight: 300;
            }
            .value {
                font-size: 22px;
                font-weight: 600;
            }
        }
        .dashbord_content-container:nth-child(1) {
            padding-bottom: 20px;
            border-bottom: 2px solid #009688;
        }
        .btn {
            display: block;
            width: 120px;
            margin: 0 auto;
            font-weight: 800;
            margin-top: 30px;
            .circle {
                margin-top: 5px;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #FFF;
                &:nth-child(2){
                    margin: 0 10px;
                }
            }
        } 
    }
}